extends layout

block content
    include header
    include validationErrors
    h1#titleAsk Ask Question
    form#ask_question.center-vertical1.form-horizontal.well(method="post" , action="/ask_question")
        .form-group.secondform
            div#themeAsk Theme
            select#chooseTop(name="theme")
                option(name="") Choose theme
                option(name="Lesha") Lesha
                option(name="Maks") Maks

        .form-group.firstform
            br
            div#questAsk Question
            input#input_question(type='text',name='question')
            hr
            .form-buttons#ask_button
                button#addQuestion(type='submit').btn.btn-primary Ask!

    include footer