script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
//script(type="text/javascript" src="/public/javascripts/redirections.js")
