
footer.main-footer
  .container
    .row
      .col-lg-3.col-md-6
        a.brand(href='#') Contact Info
        ul.contact-info.list-unstyled
          li
            a(href='my.ukma@edu.ua') my.ukma@edu.ua
          li
            a(href='tel:123456789') +00 123 456 789
        ul.social-icons.list-inline
          li.list-inline-item
            a(href='#', target='_blank', title='Facebook')
              i.fa.fa-facebook
          li.list-inline-item
            a(href='#', target='_blank', title='Twitter')
              i.fa.fa-twitter
          li.list-inline-item
            a(href='#', target='_blank', title='Instagram')
              i.fa.fa-instagram
          li.list-inline-item
            a(href='#', target='_blank', title='Pinterest')
              i.fa.fa-pinterest
      .col-lg-3.col-md-6
        h5 Partners
        ul.links.list-unstyled
          li
            a(href='#') partner 1
          li
            a(href='#') partner 2
          li
            a(href='#') partner 3
          li
            a(href='#') partner 4
      .col-lg-3.col-md-6
        h5 Support
        ul.links.list-unstyled
          li
            a(href='#') FAQ
          li
            a(href='#') Support page
          li
            a(href='#') Terms of use
      .col-lg-3.col-md-6
        h5 Cheer Up!
        ul.links.list-unstyled
          li
            a(href='#') DONATE
          li
            a(href='#') DONATE
          li
            a(href='#') DONATE
          li
            a(href='#') DONATE
  .copyrights
    .container
      .row
        .col-md-7
// Javascript files
script(src='https://code.jquery.com/jquery-3.2.1.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
script(src='../vendor/bootstrap/js/bootstrap.min.js')
script(src='../vendor/jquery.cookie/jquery.cookie.js')
script(src='../vendor/owl.carousel/owl.carousel.min.js')
script(src='../js/front.js')
