nav.navbar.navbar-expand-lg.fixed-top
  a.navbar-brand(href='#') StartUps For All
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
  span
  span
  span
  #navbarSupportedContent.collapse.navbar-collapse
  ul.navbar-nav.ml-auto.align-items-start.align-items-lg-center
    li.nav-item
      a.nav-link.link-scroll(href='#') Home
    li.nav-item
      a.nav-link.active(href='#') Text Page
    .navbar-text
      // Button trigger modal
    a.btn.btn-primary.navbar-btn.btn-shadow.btn-gradient(href='#', data-toggle='modal', data-target='#exampleModal') Sign Up
