nav#header.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#navbar-collapse-2', type='button')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.brandcolor(href='/feed/0') FEED
    #navbar-collapse-2.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', href='#', aria-expanded='false')
            | Category
            b.caret
          ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
            li
              a(href="../") Main
            li
              a(href="../ask") Ask
      form.navbar-form.navbar-left
        .form-group
          input.form-control(type='text', placeholder='Search')
        button.btn.btn-default(type='submit' style='margin-left:10px;') Submit
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', href='#', aria-expanded='false')
            | User
            b.caret
          ul.dropdown-menu
            li
              //onclick='window.location="/user/#{logedUser.login}"'
              a(href='../../User/user') My Page
            li
              //onclick='window.location="/user/#{logedUser.login}/profileSettings"'
              a(href='../../User/user/profileSettings') Profile Settings


br
br
br
br

