extends layout
block content
    h1= title
    if(title!="Not logged in")
        p Welcome, #{title}
    button#login(onclick="window.location ='/login'") Login
    if(title!="Not logged in")
        button#remove_user(onclick="window.location ='/logout'") Log out
        button#change_userSettings(onclick='window.location="/user/#{login}"') My Profile
    //img(src="images/feature-1.png")
    include footer
