extends layout
block content

    h1= title
    p Welcome to #{title}
    button#add_user(onclick="window.location ='/newuser'") Add user
    button#remove_user(onclick="window.location ='/removeuser'") Remove user
    button#edit_user(onclick="window.location ='/edituser'") Edit user
    //img(src="images/feature-1.png")
    include footer