extends layout
block content
    include header
    .sdvig(style="margin: 10%")
        h1= title
        if(title!="Not loged in")
            p Welcome, #{title}
        button#login.btn.btn-primary(onclick="window.location ='/login'" style="margin:5px") Login
        if(title!="Not logged in")
            button#remove_user.btn.btn-primary(onclick="window.location ='/logout'" style="margin:5px") Log out
            button#change_userSettings.btn.btn-primary(onclick='window.location="/user/#{login}"' style="margin:5px") My Profile
        //h3 Welcome, #{title}
        h3.nag We are pleased to present you this site, what we tried to make new and unusual
        h3.nag Team up. Because we all look for somebody

    //img(src="images/feature-1.png")
    include footer
