extends layout

block content
    include header

    #login.center-vertical
        form.well(action="login/log",id='form-login', method='post')
            h2 Guten Tag!
            h6 Please Login To Your Account
            .form-group
                label Login

                input.form-control(type='text', id='user-tf', name='login')
            .form-group
                label Password
                input.form-control(type='password', id='pass-tf', name='password')
            .controls
                input#checkbox(type='checkbox', name='remember', checked=false)
                #remember Remember Me
                button(type='submit').btn.btn-primary.button-sign-in
                    span
                    | Sign In
            .clearfix
            hr
            .btm-links
                #forgot-password
                    a(href='#') Forgot Your Password?
                #create-account
                    a(href='/signup') Create An Account
            .clearfix
