extends layout

block content
    h3=title
    form#form_add_user(name="adduser",method="post",action="/adduser")
        span Name
        span &nbsp
        input#input_name(type="text",placeholder="Your name",name="user")
        br
        br
        span Login
        span &nbsp
        input#input_login(type="text",placeholder="Your login",name="login")
        br
        br
        span Password
        span &nbsp
        input#input_password(type="password",placeholder="Your password",name="password")
        br
        br
        button#submit_user(type="submit") submit