extends layout
block content

    h3=title
    form#form_add_user(name="userSettings",method="post",action="/changeUserSettings")
        span Name
        span &nbsp
        input#input_name(type="text",placeholder="Your name",name="user",value="#{user.user}")
        br
        br
        span Login
        span &nbsp
        input#input_login(type="text",placeholder="Login",name="login",value="#{user.login}")
        br
        br
        span Password
        span &nbsp
        input#input_password(type="password",placeholder="Password",name="password",value="#{user.password}")
        br
        br
        button#submit_changes_userSettings(type="submit") submit