extends layout
block content

    h1=question.theme
    br
    h3=question.question
    if(question.answers!=undefined || question.answers!=null)
        ul
            each answer, i in question.answers
                li#user_list_item
                    a(href='#') #{answer}
    else
        h5 No answers yet
    form(action="/question/#{question._id}/post_answer" method="post")
        p
            b Enter your answer:
        p
            textarea(rows="10" cols="45" name="answer")
        p
            input(type="submit" value="Post answer")

