extends layout

block content
    h3=title
    form#form_delete_user(name="deleteuser",method="post",action="/deleteuser")
        span Name
        span &nbsp
        input#input_name(type="text",placeholder="Your name",name="user")
        br
        br
        span Login
        span &nbsp
        input#input_login(type="text",placeholder="Login",name="login")
        br
        br
        span Password
        span &nbsp
        input#input_password(type="password",placeholder="Password",name="password")
        br
        br
        button#submit_user(type="submit") submit