extends layout
include validationErrors

block content
    include header
    .cont

        h1=title

        if(logedUser!=null)
            img#input_img(name="image", src='../../images/default_avatar.gif', width = "120px", height='150px')
            br
            br
            h2 QUESTIONS
            br
            .row
                .col-md-6
                    b ANSWERED:
                .col-md-6
                    b ASKED:
                .col-md-6
                    h3=0
                .col-md-6
                    h3=0
            br
            b RANK:
            br
            br
            .progress(style='width: 100%')
                #progbar.progress-bar-danger.progress-bar-striped.active.glyphicon.glyphicon-star(style='width: 20%; padding: 1px 5%; color: white') Private

            .panel.panel-primary
                .panel-heading Tip of the day
                .panel-body To increase your rank fill out your profile and help others
            br
            button#change_userSettings.btn.btn-primary(onclick='window.location="/user/#{logedUser.login}/profileSettings"') Settings
            button.btn.btn-primary(onclick='window.location="/user/#{logedUser.login}/Contributors"' style="margin: 0px 10px" ) Contributors
            br
            br