extends layout
include validationErrors

block content
    include header
    .cont
        br
        br
        br
        br
        br
        h1=title

        if(logedUser!=null)
            img#input_img(name="image", src='../../images/default_avatar.gif', width = "120px", height='150px')
            br
            br
            #progbar.progress-bar.progress-bar-striped.active(style='width: 120px')  Your Level
            br
            br
            button#change_userSettings.btn.btn-primary(onclick='window.location="/user/#{logedUser.login}/profileSettings"') Settings
