extends layout
include validationErrors

block content
    include header
    .cont

        h1=title

        if(logedUser!=null)
            img#input_img(name="image", src='../../images/default_avatar.gif', width = "120px", height='150px')
            br
            br
            .span Your rank:
            br
            .progress
                #progbar.progress-bar-danger.progress-bar-striped.active.glyphicon.glyphicon-star(style='width: 20%; padding: 1px 5%; color: white') Private

            .span Answered questions:
                h3 0
            br
            .span To increase your rank fill out your profile and help others ;)
            br
            button#change_userSettings.btn.btn-primary(onclick='window.location="/user/#{logedUser.login}/profileSettings"') Settings
