body {
  margin: 0;
  padding: 0;
    margin-top: 0;
    padding-top: 0;
  height: 100%;
  /*background: #00BFFF;*/
  /*background: -moz-radial-gradient(center, ellipse cover, #00BFFF 0%, #d6f0fd 100%) !* FF3.6+ *!;*/
  /*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #00BFFF), color-stop(100%, #d6f0fd)) !* Chrome,Safari4+ *!;*/
  /*background: -webkit-radial-gradient(center, ellipse cover, #00BFFF 0%, #d6f0fd 100%) !* Chrome10+,Safari5.1+ *!;*/
  /*background: -o-radial-gradient(center, ellipse cover, #00BFFF 0%, #d6f0fd 100%) !* Opera 12+ *!;*/
  /*background: -ms-radial-gradient(center, ellipse cover, #00BFFF 0%, #d6f0fd 100%) !* IE10+ *!;*/
  /*background: radial-gradient(center, ellipse cover, #00BFFF 0%, #d6f0fd 100%) !* W3C *!;*/
  /*background: linear-gradient(to bottom right,#e6e6e6, #FFFFFF );*/
  background: #e3e3e3;

}

h3{
  text-align: center;
  vertical-align: middle;
  /*padding-left: 45% ;*/
}

/*button[type=submit] {*/
  /*background-color: white;*/
  /*!*padding: 5%;*!*/
  /*border-radius: 10px;*/
  /*margin: auto;*/
/*//border: dashed 1px #aaa;*/
  /*!*margin-bottom: 50px;*!*/
  /*box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);*/
  /*transition:	all	600ms ease-out;*/

/*!*background: linear-gradient(to bottom right, #f1f1f1, #a5a5a5 );*!*/
/*}*/
/*input[type=file] {*/
  /*background-color: white;*/
  /*!*padding: 5%;*!*/
  /*border-radius: 10px;*/
  /*margin: auto;*/
/*//border: dashed 1px #aaa;*/
  /*!*margin-bottom: 50px;*!*/
  /*box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);*/
  /*transition:	all	600ms ease-out;*/
  /*!*background: linear-gradient(to bottom right, #f1f1f1, #a5a5a5 );*!*/
/*}*/
input[type=file]{
  border: solid 1px #aaa;
  /*opacity: 0.0001;*/
  z-index: 2;
}
input[type=submit]{
  border: solid 1px #aaa;
}
#input_img{
  border-radius: 10px;
  border: solid 1px #aaa;
}
/*input[type=submit]:hover{*/
  /*box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  /*transition:	all	600ms ease-out;*/
/*}*/

/*input[type = file]:hover{*/
  /*box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  /*transition:	all	600ms ease-out;*/
/*}*/

#header {
  position: fixed;
  top: -2px;
  left: 0;
  width: 100%;
    z-index: 20;
  height: 70px;
  /*overflow: scroll; !* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" *!*/
  background: #000000;
}

.change_userSettings{
  background-color: white;
  padding: 5px 10px;
  /*z-index: 20000;*/
  border-radius: 10px;
  /*position: absolute;*/
  margin: auto;
  margin: 5px;
/*border: dashed 1px #aaa;*/
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  transition:	all	600ms ease-out;
}

.change_userSettings:hover{
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition:	all	600ms ease-out;
}
/*#testheader{*/
  /*position: fixed;*/
  /*top: -200px;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*z-index: 20;*/
  /*height: 70px;*/
  /*overflow: hidden; !* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" *!*/
  /*background: #000000;*/
/*}*/
#form_update_user{
  /*display: block;*/
  width: 40%;
  margin-left: 20%;
  /*margin-bottom: 10%;*/
}

.text-fields{
  width: 30%;
  vertical-align: middle;
  margin: auto;
  margin-top: 5%;
}

/*a {color: black;margin: 5px; text-decoration: none;}*/

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

#navbar-collapse-2{
  z-index: 100;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

#user_image{
  width: 40%;
  margin-left: 20%;
  /*display: block;*/
  /*position: absolute;*/
  /*right: 2px;*/
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.otstup{
    margin-top: 80px;
}
.navbar-brand{
    color: whitesmoke;
}

/*.nullotstup{*/
    /*margin-top: 0;*/
    /*padding-top: 0;*/
/*}*/

h2 {
  margin: 0 0 6px 0;
  font-weight: bold;
}
h6 {
  margin: 2px 0 20px 0;
}
h8 {
  font-size: 10px;
}
hr {
  margin: 14px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
ul {
  margin: 4px 0 0 0;
}
label,
h6 {
  /*color: #808080;*/
  font-size: 13px;
  font-weight: normal;
  text-shadow: -1px 1px 0 #a0a0a0;
}
/*
  Sign up
*/

#account-form-btn2.btn.btn-primary {
  border-radius: 20px;
  width: 410px;
  height: 40px;
  font-weight: bold;
  background-color: #00BFFF  ;
  border-color: #00BFFF ;
}
.well {
  background: #f8f8f8;
  margin-bottom: 0;
}
.well .tab-title {
  float: left;
  margin-left: 10px;
}
.well .button-top-right {
  float: right;
  margin: 0 10px 20px 0;
}

.glyphicon {
  margin-right: 8px;
}
/*
	login window
*/
#checkbox {
  display: inline;
}

#remember {
  font-size: 13px;
  margin-left: 3px;
  display: inline;
}

#login label {
  margin-left: 2px;
}
#login form {
  width: 320px;
}
#login .controls {
  margin-top: 20px;
}
#login .controls .button-rememember-me {
  float: left;
  width: 150px;
}
#login .controls .button-sign-in {
  float: right;
  width: 120px;
  background-color: #00BFFF;
  border-color: #00BFFF;
  margin-right: 20px;
}
#login .btm-links {
  font-size: 0.9em;
  margin: 2px 0 0 0;
}
#login .btm-links #forgot-password {
  float: left;
  margin-left: 10px;
}
#login .btm-links #create-account {
  float: right;
  margin-right: 5px;
}
#account-form-container form {
  width: 460px;
}
.modal .modal-footer button {
  width: 80px;
}
.center-vertical {
  height: 100vh;
}
.center-vertical form {
  top: 50%;
  margin: auto;
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.form-horizontal .form-buttons {
  float: right;
}
.form-horizontal .form-buttons .btn {
  width: 80px;
  margin-left: 6px;
}
.form-horizontal input,
.form-horizontal select {
  height: 30px;
}
.policy {
  margin-top: 5px;
}
